.ContactsList {
padding: 0;
margin-top: 0;
margin-bottom: 0;
width: 400px;
/* padding: 15px; */
}
.Contacts__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    list-style: circle;
    /* outline: solid black 1px; */
}

.button {
    padding: 10px;
  font-weight: 600;
  background: #fff;
  border: 1px #ead5d5 solid;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 4px -3px #000000;
}

.button:hover {
    background: linear-gradient(to bottom, #3c94cf 0%, #1c6ea4 50%, #b32193 100%);
  }